
/*
html {
    scroll-behavior: smooth;
  }
html, body {
    text-align: center;
    }
  
    p {text-align: left;}

    body {
        margin: 0;
        padding: 0;
        background: #697281;
        text-align: center;
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        font-size: 13px;
        color: black;
        background-color:#679159;
    }
    #page
     {
       text-align: center;
       margin: 0 auto 0 auto;
       margin-top:25px;
       display: block;
       height:auto;
       position: relative;
       overflow: hidden;
       background: #679159 url(https://www.html.am/templates/downloads/bryantsmith/greencreative/background.png) repeat-y;
     }



     #header
    {
    background-image:url(https://www.html.am/templates/downloads/bryantsmith/greencreative/header.png);
    background-repeat:no-repeat;
    height:111px;
    width:738px;
    }
    #headerTitle
    {
    position:relative;
    left:30px;
    top:30px;
    color:#283823;
    text-align:left;
    font-size:34px;
    font-weight:bold;
    font-family:Arial, Helvetica, sans-serif;
    animation-name: greenn;
    animation-duration: 5s;
    animation-delay: 2s;
    }
    #headerSubText
    {
    position:relative;
    left:33px;
    top:30px;
    color:#679159;
    text-align:left;
    font-size:16px;
    font-weight:bold;
    font-family:Arial, Helvetica, sans-serif;
    }
    #container
    {
    background-image:url(https://www.html.am/templates/downloads/bryantsmith/greencreative/bar.png);
    background-repeat:no-repeat;
    padding-left:20px;
    padding-right:20px;
    width: 500px
    
    }

    #container a
    {
    font-size:13px;
    font-weight:bold;
    color:white;
    margin-left: 35px;

    }
    #container a:hover
    {
    color:red;
    font-size: 15px;
    background: cyan;
    }
    .contentTitle
    {
    width: 676px;
    height:37px;
    margin-top:20px;
    margin-left:25px;
    margin-right:25px;
    background-image:url(https://www.html.am/templates/downloads/bryantsmith/greencreative/tab_back.png);
    background-repeat:no-repeat;

    }

    .contentTitle h1
    {
    margin-left:21px;
    padding-top:8px;
    font-size:17px;
    font-weight:bold;
    color:#071027;

    }

    .contentText
    {
    width:680px;
    padding-left:30px;
    padding-right:30px;
    font-size:13px;
    color:#030712;
    line-height:30px;

    }
    a
    {
    text-decoration:none;
    color:#152413;
    }

    .dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}





 .tool {
  position: fixed;
  display: inline-block;
  background: chartreuse;
  margin-right: 100px;
}


.tool .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  position: fixed;
  z-index: 1;
}

.tool:hover .tooltiptext {
  visibility: visible;
}






















    #footer {
    width: 738px;
    height:53px;
    background: url(https://www.html.am/templates/downloads/bryantsmith/greencreative/footer.png) no-repeat;
    text-align:center;
    font-size:9px;
    color:#152413;
    padding-top:38px;
    }
    .contentText{
  margin-top: 15px;
}




















.contentet{
  text-align: center;
  margin-right: 300px;
}

#page{
  margin-right: 250px;
}



#container{
  display: grid;
  grid-template-columns: repeat(7,1fr);

}

a{
  text-align: center;
  padding: 5px;
  border-radius: 2px;
  background-color: rgb(12, 53, 12);
  color: antiquewhite;
}

@keyframes greenn {
  0%{
    color: yellow;
  }
  25%{
    color: darkblue;
    margin-left: 20px;
  }
  75%{
    color: cyan;
    margin-left: 100px;
  }
  100%{
    color: blueviolet;
    margin-left: 150px;

  }
}

@media (max-width:850px){
  *{
    margin: 0px;
    padding: 0px;
  }
  #container{
    width: 450px;
  }
  #container{
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  .contentText{
    width: 450px;
  }
  #headerSubText{
    width: 500px;
  }
  #page{
    width: 500px;
    z-index: 1;
    margin: 0 auto 0 auto;
    margin-top:25px;
    display: block;
    height:auto;
    position: relative;
    overflow: hidden;
    background: #679159 url(https://www.html.am/templates/downloads/bryantsmith/greencreative/background.png) repeat-y;
  }
  .contentText p{
    font-size: 20px;
  }
  #footer{
    margin: 0px;
    width: 500px;
    position: relative;
  }
}
*/
 